body {
    margin: 0;
    padding: 0;
  }

footer{
  color: white!important;
  right: 0;
  height: 10vh;
  width: 100vw;
  background-color: black;
  text-align: center;

}
  .burger-menu-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }
  
  .burger-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
  }
  
  
  .backAcceuil {
    height: 100vh;
    background-image: url('../img/1snack.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; 
  }
  .footer{
    color: white;
  }


  .titre {
    display: flex;
    justify-content: center;
    align-items: center;
  height: 70vh;
  width: 100vw;
  
  }
  
  .titre h1 {
    font-size: 4.5em; 
    color: white;
    letter-spacing: 2px;  
  }
  
  /* PAGE2 */
   
  .page2 {
    min-height: 100vh;
    width: 100vw;
    /* background-color: black; */
    background-image: url(../img/backfood.png);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around
  
  }
  .menu-section {
    width: 100%; 
    text-align: center; 
    margin-bottom: 20px;
   
  }

 .menu-section a{
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
 } 
  .menu-title {
    color: white;
    margin-bottom: 65px;
    font-size: 2.5em ;
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
   
  }
  

  .burgers {
    height: 50vh; 
    width: auto; 
    display: flex;
    gap: 2px; 
    justify-content: center;
  }
  
  .burgers img {
    height: 30vh; 
    width: auto; 
    box-shadow: 4px 4px 8px rgba(225, 219, 219, 0.844); 
    transition: box-shadow 0.3s ease;
    border-radius: 10%;
  }
  .burgers img:hover{
    box-shadow: 0px 20px 80px rgba(237, 232, 232, 0.979); /* Ombre augmentée au survol */
    transform:  scale(1.1); 
    background-color: rgba(255, 255, 255, 0.254);
    border-radius: 10%;
  }
  .classiques {
    height: 50vh; 
    width: auto; 
    display: flex;
    gap: 2px; 
    justify-content: center; 
  }
  
  .classiques img {
    height: 30vh; 
    width: auto; 
    box-shadow: 4px 4px 8px rgba(225, 219, 219, 0.844); 
    transition: box-shadow 0.3s ease; 
    border-radius: 10%;
  }
  .classiques img:hover{
    box-shadow: 0px 20px 80px rgba(237, 232, 232, 0.979); /* Ombre augmentée au survol */
    transform:  scale(1.1); 
    background-color: rgba(255, 255, 255, 0.254);
    border-radius: 10%;
  }
  
  /* PAGE3 */
   
  .page3 {
    min-height: 100vh;
    width: 100vw;
    /* background-color:black; */
    background-image: url(../img/backfood2.png);
    display: flex;
    flex-direction: column; /* organise les enfants en colonnes */
    align-items: center; /* centre horizontalement */
    justify-content: space-around;
  
   
  }
  .menu-section2 {
    width: 100%; /* Utilisez toute la largeur de .page2 */
    text-align: center; /* Centre les titres */
    margin-bottom: 20px; /* Espace entre les sections */
  }
  
  .menu-title2 {
    color: white;/* Couleur du titre */
    margin-bottom: 65px;
    font-size: 2.5em ; 
  }
  
  
  .compositions {
    height: 50vh; /* La hauteur s'ajuste au contenu */
    width: auto; /* La largeur s'ajuste au contenu */
    display: flex;
    gap: 2px; /* Espace entre les images */
    justify-content: center; /* Centre les images dans le conteneur .burgers */
  }
  
  .compositions img {
    height: 30vh; /* Réglé pour correspondre à la hauteur désirée */
    width: auto; /* Gardez l'aspect ratio */
    box-shadow: 4px 4px 8px rgba(225, 219, 219, 0.844); /* Ombre pour les images */
    transition: box-shadow 0.3s ease; /* Transition douce pour l'effet */
    border-radius: 10%;
  }
  .compositions img:hover{
    box-shadow: 0px 20px 80px rgba(237, 232, 232, 0.979); /* Ombre augmentée au survol */
    transform:  scale(1.1); 
    background-color: rgba(255, 255, 255, 0.427);
    border-radius: 10%;
  }
  .petitefaim {
    height: 50vh; /* La hauteur s'ajuste au contenu */
    width: auto; /* La largeur s'ajuste au contenu */
    display: flex;
    gap: 2px; /* Espace entre les images */
    justify-content: center; /* Centre les images dans le conteneur .burgers */
  }
  
  .petitefaim img {
    height: 30vh; /* Réglé pour correspondre à la hauteur désirée */
    width: auto; /* Gardez l'aspect ratio */
    box-shadow: 4px 4px 8px rgba(225, 219, 219, 0.844); /* Ombre pour les images */
    transition: box-shadow 0.3s ease; /* Transition douce pour l'effet */
    border-radius: 10%;
  }
  .petitefaim img:hover{
    box-shadow: 0px 20px 80px rgba(237, 232, 232, 0.979); /* Ombre augmentée au survol */
    transform:  scale(1.1); 
    background-color: rgba(255, 255, 255, 0.427);
    border-radius: 10%;
  }
  /* 
  PAGE4 */
  .contact {
    display: flex;
    width: 100%;
    height: 100vh;
  background-color: black;
   
}

.droite, .gauche {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    width: 90%; 
    height: 80%;
  
}

.reseaux {
    margin-bottom: 20px;
    display: flex;
    gap: 40px; /* Espacement entre les icônes */
    justify-content: center; /* Centre les icônes */
    
}
.reseaux img{
  height: 60px;
  width: 60px;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    height: 30vh;
    width: 40vw;
    color: white;
    
}


  /* RESPONSIVE */
/* TÉLÉPHONE */
@media screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .backAcceuil {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/1back.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

.avatar{
  display: none;
}
  .titre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
  }

  .titre h1 {
    font-size: 2.5em;
    color: white;
    letter-spacing: 2px;
    margin-top: 5vh;
  }
 .navContacts{
  display: none;
}

  /* PAGE2 et PAGE3 */
  .page2 {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../img/backfood.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   

  }
  .page3 {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../img/backfood2.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
  }

  .menu-section, .menu-section2 {
    width: 48%;
    text-align: center;
    /* margin-bottom: 10px; */
 
  }

  .menu-title, .menu-title2 {
    color: white;
    margin-bottom: 30px;
    font-size: 1.1em;
    width: 100%;
  }

  .burgers, .classiques, .compositions, .petitefaim {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: auto;
    width: 50vw;
  }

  .burgers img, .classiques img, .compositions img, .petitefaim img {
    height: 120px;
    width: auto;
    box-shadow: 4px 4px 8px rgba(225, 219, 219, 0.844);
    transition: box-shadow 0.3s ease;
    border-radius: 10%;
  }

  .burgers img:hover, .classiques img:hover, .compositions img:hover, .petitefaim img:hover {
    box-shadow: 0px 20px 80px rgba(237, 232, 232, 0.979);
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.254);
    border-radius: 10%;
  }

  /* PAGE4 */
  .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: black;
  }

  .droite, .gauche {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  #map {
    width: 80vw;
    height: 250px;
    margin-left: -5vw;
  }

  .reseaux {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .reseaux img {
    height: 30px;
    width: 30px;
  }

  .contact-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: white;
    width: 60vw;
  }
}



/* FORMAT TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1180px){
  
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.backAcceuil {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/accueil-tablette.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.avatar{
display: none;
}
.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;
}

.titre h1 {
  font-size: 2.5em;
  color: white;
  letter-spacing: 2px;
  margin-top: 5vh;
}
.navContacts{
display: none;
}

/* PAGE2 et PAGE3 */
.page2 {
  min-height: 100vh;
  width: 100vw;
  background-image: url(../img/backfood.png);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
 

}
.page3 {
  min-height: 100vh;
  width: 100vw;
  background-image: url(../img/backfood2.png);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.menu-section, .menu-section2 {
  width: 48%;
  text-align: center;
  /* margin-bottom: 10px; */

}

.menu-title, .menu-title2 {
  color: white;
  margin-bottom: 30px;
  font-size: 1.5em;
  width: 100%;
}

.burgers, .classiques, .compositions, .petitefaim {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: auto;
  width: 50vw;
}

.burgers img, .classiques img, .compositions img, .petitefaim img {
  height: 170px;
  width: auto;
  box-shadow: 4px 4px 8px rgba(225, 219, 219, 0.844);
  transition: box-shadow 0.3s ease;
  border-radius: 10%;
}

.burgers img:hover, .classiques img:hover, .compositions img:hover, .petitefaim img:hover {
  box-shadow: 0px 20px 80px rgba(237, 232, 232, 0.979);
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.254);
  border-radius: 10%;
}

/* PAGE4 */
.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: black;
}

.droite, .gauche {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#map {
  width: 80vw;
  height: 250px;
  margin-left: -5vw;
}

.reseaux {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.reseaux img {
  height: 30px;
  width: 30px;
}

.contact-info {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2em;
  color: white;
  width: 60vw;
}
}






/* CODE POUR LE MENU */


.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #171816ae;
  padding: 10px;
  position: fixed;  
  top: 0;  
  width: 100vw;  
  height:7vh;
  z-index: 1000;  
}


.navMenu li, .navContacts li {
display: inline-block;
}

.sousmenu {
position: relative;
display: inline-block;
}

.Le {

padding: 14px 20px;
font-size: 16px;
border: none;
cursor: pointer;
text-decoration: none;
}

.menuDeroulant {
display: none;
position: absolute;
background-color: rgba(0, 0, 0, 0.767);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.767);
z-index: 1;
color: white;
}

.menuDeroulant .submenu {
position: relative;
}
.Le:hover{
background-color: white;
color: black;
}

.menuDeroulant li{
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
list-style-type: none;
}

.menuDeroulant a:hover {
background-color: #f1f1f1;
color: black;
}

.deroulant{
list-style: none;
display: none;
position: absolute;
left: 100%;
width: 20px;
top: 0;
color: white;
background-color: rgba(0, 0, 0, 0.767);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.767);
}

.deroulant a:hover {
background-color: white;
color: black;
}

.sousmenu:hover .menuDeroulant {
display: block;
}

.submenu:hover .deroulant {
display: block;
}


.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 1em;
}

.navMenu, .navContacts {
  flex: 1;
  text-align: center; 
}

.navMenu a, .navContacts a {
  color:white; 
  text-decoration: none;
  font-size: 24px;
}
.avatar {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navLogo img {
  max-width: 80px; 
  height: auto;
  cursor: pointer;
}
.navLogo :hover{
  transform: scale(1.08);
}
.avatar :hover{
  transform: scale(1.08); 
}




   /* RESPONSIVE BURGER */
/* TÉLÉPHONE */
@media screen and (max-width: 767px) {
  .navLogo {
      width: 40px;
      height: 40px;
      display: block;
  }
  .navbar{
    height: 40px;
    width: 100vw;
    display: flex;
   
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .navLogo img {
      width: 100%;
      height: 100%;
  }

  .burgerMenu {
      display: block;
  }
  .burger-menu{
    display: block;
    margin-right: 10px;
  }
   .burger-menu img {
        height: 40px;
        width: 40px;
    }
  

  .navMenu {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 5vh;
      left: 0;
      background-color: #171816ae;
      color: white;
      list-style: none;
      z-index: 999; /* Assurez-vous que le menu est au-dessus des autres éléments */
  }

  .navMenu.active {
      display: block
  }

  .menuDeroulant, .deroulant {
      display: none;
      flex-direction: column;
      list-style: none;
      color: white;
      background-color: #171816ae; /* Ajoutez une couleur de fond pour les sous-menus */
  }

  .sousmenu .menuDeroulant {
      position: static; /* Assurez-vous que les sous-menus sont positionnés statiquement */
  }
  .submenu .deroulant {
    position: static; /* Assurez-vous que les sous-menus sont positionnés statiquement */
}
  .sousmenu:hover .menuDeroulant,
  .sousmenu .menuDeroulant.active,
  .navMenu.active .menuDeroulant  {
      display: flex;
  }
 .submenu:hover .deroulant,
  .submenu .deroulant.active {
      display: flex;
  }
  .navMenu li {
      width: 100%;
      text-align: center;
      padding: 10px;
      color: white;
  }
.logoHome{
  display: none;
}

  .navMenu a, .menuDeroulant a {
      color: white;
      text-decoration: none;
      padding: 10px; /* Ajoutez du padding pour les liens du menu */
  }

  .navMenu a:hover, .menuDeroulant a:hover {
      background-color: #f1f1f1;
      color: black;
  }
}

@media screen and (min-width: 768px) and (max-width: 1180px){
  .navLogo {
    width: 40px;
    height: 40px;
    display: block;
}
.navbar{
  height: 50px;
}
.navLogo img {
    width: 100%;
    height: 100%;
}

.burgerMenu {
    display: block;
}

.navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 5vh;
    left: 0;
    background-color: #171816ae;
    color: white;
    list-style: none;
    z-index: 999; 
}

.navMenu.active {
    display: flex;
}

.menuDeroulant {
    display: none;
    flex-direction: column;
    list-style: none;
    color: white;
    background-color: #171816ae; /* Ajoutez une couleur de fond pour les sous-menus */
}

.sousmenu .menuDeroulant {
    position: static; /* Assurez-vous que les sous-menus sont positionnés statiquement */
}

.sousmenu:hover .menuDeroulant,
.sousmenu .menuDeroulant.active,
.navMenu.active .menuDeroulant {
    display: flex;
}

.navMenu li {
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white;
}
.logoHome{
display: none;
}
.burger-menu img {
    height: 40px;
    width: 40px;
}
.burger-menu{
  display: block;
}
.navMenu a, .menuDeroulant a {
    color: white;
    text-decoration: none;
    padding: 10px; /* Ajoutez du padding pour les liens du menu */
}

.navMenu a:hover, .menuDeroulant a:hover {
    background-color: #f1f1f1;
    color: black;
}
}