
body {
    margin: 0;
    padding: 0;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    box-sizing: border-box;
    overflow-x: hidden
  }

  .hidden {
    visibility: hidden;
}

  footer {
    color: rgb(0, 0, 0)!important;
    height: 3vh;
    width: 100vw;
    text-align: center;
    margin-top: auto;
    font-size: 1em;
}

  .burger-menu-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }
  
  .burger-menu {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
  }
  
  
  .backAcceuil {
    height: 100vh;
    background-image: url('../img/1snack.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center; 
  }

  .titre {
    display: flex;
    justify-content: center;
    align-items: center;
  height: 70vh;
  width: 100vw;
  font-weight: 300;
   font-family: "Titan One", sans-serif;
    font-style: normal;
  
  }
  
  .titre h1 {
    font-size: 4.5em; 
    color: white;
    letter-spacing: 2px;  
  }
  
  /* PAGE2 */
   
  .page2 {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../img/backfood.png);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around
  
  }
  .menu-section {
    width: 100%; 
    text-align: center; 
    margin-bottom: 20px;
   
  }

 .menu-section a{
  text-decoration: none;
  cursor: pointer;
  list-style-type: none;
 } 
  .menu-title {
    color: white;
    margin-bottom: 65px;
    font-size: 2.5em ;
    text-decoration: none;
    cursor: pointer;
    list-style-type: none;
   
  }
  

  .burgers {
    height: 50vh; 
    width: auto; 
    display: flex;
    gap: 2px; 
    justify-content: center;
  }
  
  .burgers img {
    height: 30vh; 
    width: auto; 
    box-shadow: 4px 4px 8px rgba(225, 219, 219, 0.844); 
    transition: box-shadow 0.3s ease;
    border-radius: 10%;
  }
  .burgers img:hover{
    box-shadow: 0px 20px 80px rgba(237, 232, 232, 0.979); /* Ombre augmentée au survol */
    transform:  scale(1.1); 
    background-color: rgba(255, 255, 255, 0.254);
    border-radius: 10%;
  }
  .classiques {
    height: 50vh; 
    width: auto; 
    display: flex;
    gap: 2px; 
    justify-content: center; 
  }
  
  .classiques img {
    height: 30vh; 
    width: auto; 
    box-shadow: 4px 4px 8px rgba(225, 219, 219, 0.844); 
    transition: box-shadow 0.3s ease; 
    border-radius: 10%;
  }
  .classiques img:hover{
    box-shadow: 0px 20px 80px rgba(237, 232, 232, 0.979); /* Ombre augmentée au survol */
    transform:  scale(1.1); 
    background-color: rgba(255, 255, 255, 0.254);
    border-radius: 10%;
  }
  
  /* PAGE3 */
   
  .page3 {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../img/backfood2.png);
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around;
  
   
  }
  .menu-section2 {
    width: 100%; 
    text-align: center; 
    margin-bottom: 20px; 
    list-style-type: none;
  }
  .menu-section2 a, .menu-title2 a{
    list-style-type: none;
    text-decoration: none;
  }
  .menu-title2 {
    color: white;
    margin-bottom: 65px;
    font-size: 2.5em ; 
    list-style-type: none;
  }
  
  
  .compositions {
    height: 50vh; 
    width: auto; 
    display: flex;
    gap: 2px;
    justify-content: center; 
  }
  
  .compositions img {
    height: 30vh; 
    width: auto; 
    box-shadow: 4px 4px 8px rgba(225, 219, 219, 0.844); 
    transition: box-shadow 0.3s ease; 
    border-radius: 10%;
  }
  .compositions img:hover{
    box-shadow: 0px 20px 80px rgba(237, 232, 232, 0.979); 
    transform:  scale(1.1); 
    background-color: rgba(255, 255, 255, 0.427);
    border-radius: 10%;
  }
  .petitefaim {
    height: 50vh; 
    width: auto; 
    display: flex;
    gap: 2px;
    justify-content: center; 
  }
  
  .petitefaim img {
    height: 30vh; 
    width: auto; 
    box-shadow: 4px 4px 8px rgba(225, 219, 219, 0.844); 
    transition: box-shadow 0.3s ease;
    border-radius: 10%;
  }
  .petitefaim img:hover{
    box-shadow: 0px 20px 80px rgba(237, 232, 232, 0.979); 
    transform:  scale(1.1); 
    background-color: rgba(255, 255, 255, 0.427);
    border-radius: 10%;
  }
  /* 
  PAGE4 */
  .contact {
    display: flex;
    width: 100%;
    height: 100vh;
  background-color: black;
   
}

.droite, .gauche {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#map {
    width: 90%; 
    height: 80%;
  
}
.reseaux{
    
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10%;

}
.logo {
  margin-right: 2vw; 
  background-color: rgba(82, 80, 80, 0.315);
 width: 10vw;
 height: 9vh;

}

.reseaux .box{
  position: relative;
width: 165px;
  box-sizing: border-box;
  text-align: center;
 margin-right: 5px;

}

.reseaux .box .logo{
  transition: 0.5s;
  transform-origin: top;
  transform: translateY(0) rotateX('0deg');
}

.reseaux .box:hover .logo{
  transform: translateY(100%) rotateX(90deg);
}
.reseaux .box .logo {
line-height: 100px;
color: white;
text-align: center;
}

.reseaux .box .mon{
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
 height: 9vh;
  background: #5A7C2A;
  transition: 0.5s;
  transform-origin: bottom;
  transform: translateY(-100px) rotateX(90deg);
}

.reseaux .box:hover .mon{
 transform: translateY(0) rotateX(0deg);
}

.reseaux .box .mon h3{
  margin-top: 2vh;
  padding: 0%;
  /* list-style: 100px; */
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  
}

.logo img{
  height: 60px;
  width: 60px;
  margin-top: 1vh;
}

.contact-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.7em;
    height: 30vh;
    width: 40vw;
    color: white;    
}


  /* RESPONSIVE */
/* TÉLÉPHONE */
@media screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
   

  }
footer{
  font-size: 10px;
}
  .backAcceuil {
    height: 100vh;
    width: 100vw;
    background-image: url('../img/1back.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

.avatar{
  display: none;
}
  .titre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100vw;
  
  }

  .titre h1 {
    font-size: 2.4em;
    color: white;
    letter-spacing: 2px;
    margin-top: 5vh;
    
  }
 .navContacts{
  display: none;
}

  /* PAGE2 et PAGE3 */
  .page2 {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../img/backfood.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   

  }
  .page3 {
    min-height: 100vh;
    width: 100vw;
    background-image: url(../img/backfood2.png);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
  }

  .menu-section, .menu-section2 {
    width: 48%;
    text-align: center;
 
 
  }

  .menu-title, .menu-title2 {
    color: white;
    margin-bottom: 30px;
    font-size: 1.1em;
    width: 100%;
  }

  .burgers, .classiques, .compositions, .petitefaim {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: auto;
    /* width: 50vw; */
  }

  .burgers img, .classiques img, .compositions img, .petitefaim img {
    height: 120px;
    width: auto;
    box-shadow: 4px 4px 8px rgba(225, 219, 219, 0.844);
    transition: box-shadow 0.3s ease;
    border-radius: 10%;
  }

  .burgers img:hover, .classiques img:hover, .compositions img:hover, .petitefaim img:hover {
    box-shadow: 0px 20px 80px rgba(237, 232, 232, 0.979);
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.254);
    border-radius: 10%;
  }

  /* PAGE4 */
  .contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: black;
  }

  .droite, .gauche {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  #map {
    width: 80vw;
    height: 250px;
    margin-left: -10vw;
  }

  .reseaux {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: row;
    height: 20vh;
    margin-left: -40px;
  }

  .reseaux img {
    height: 30px;
    width: 30px;
  }
  .reseaux .box{
    position: relative;
  width: 65px;
    box-sizing: border-box;
    text-align: center;
   margin-right: 5px;
  
  }
  
  .reseaux .box .logo{
    transition: 0.5s;
    transform-origin: top;
    transform: translateY(0) rotateX('0deg');
  }
  
  .reseaux .box:hover .logo{
    transform: translateY(100%) rotateX(90deg);
  }
  .reseaux .box .logo {
  line-height: 100px;
  color: white;
  text-align: center;
  }
  .box{
    width: 15px;
  }
  .logo {
    width: 18vw;
    height: 9vh;
  }
  .reseaux .box .mon{
    position: absolute;
    top: 0;
    left: 0;
    width: 18vw;
   height: 9vh;
    background: #5A7C2A;
    transition: 0.5s;
    transform-origin: bottom;
    transform: translateY(-100px) rotateX(90deg);
  }
  
  .reseaux .box:hover .mon{
   transform: translateY(0) rotateX(0deg);
  }
  
  .reseaux .box .mon h3{
    padding: 0%;
    /* list-style: 100px; */
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    
  }
  .contact-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4em;
    color: white;
    width: 80vw;
    margin-left: -5vw;
  }
}



/* FORMAT TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1180px){
  
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.backAcceuil {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/accueil-tablette.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.avatar{
display: none;
}
.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100vw;

}
.navLogo{
  height: 20px;
}
.titre h1 {
  font-size: 3.5em;
  color: white;
  letter-spacing: 2px;
  margin-top: 5vh;
}
.navContacts{
display: none;
}

/* PAGE2 et PAGE3 */
.page2 {
  min-height: 100vh;
  width: 100vw;
  background-image: url(../img/backfood.png);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
 

}
.page3 {
  min-height: 100vh;
  width: 100vw;
  background-image: url(../img/backfood2.png);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  
}

.menu-section, .menu-section2 {
  width: 48%;
  text-align: center;
  /* margin-bottom: 10px; */

}

.menu-title, .menu-title2 {
  color: white;
  margin-bottom: 30px;
  font-size: 1.5em;
  width: 100%;
}

.burgers, .classiques, .compositions, .petitefaim {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: auto;
  width: 50vw;
}

.burgers img, .classiques img, .compositions img, .petitefaim img {
  height: 170px;
  width: auto;
  box-shadow: 4px 4px 8px rgba(225, 219, 219, 0.844);
  transition: box-shadow 0.3s ease;
  border-radius: 10%;
}

.burgers img:hover, .classiques img:hover, .compositions img:hover, .petitefaim img:hover {
  box-shadow: 0px 20px 80px rgba(237, 232, 232, 0.979);
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.254);
  border-radius: 10%;
}

/* PAGE4 */
.contact {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.droite, .gauche {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#map {
  width: 80vw;
  height: 250px;
  margin-left: -5vw;
}

.reseaux {
  display: flex;
  gap: 10px;
  justify-content: center;
  top:0;
}

.reseaux img {
  height: 30px;
  width: 30px;
}
.reseaux .box{
  position: relative;
width: 65px;
  box-sizing: border-box;
  text-align: center;
 margin-right: 95px;
 

}

.reseaux .box .logo{
  transition: 0.5s;
  transform-origin: top;
  transform: translateY(0) rotateX('0deg');
color: white;
text-align: center;
}

.reseaux .box:hover .logo{
  transform: translateY(100%) rotateX(90deg);
}


.logo {
  width: 18vw;
  height: 9vh;
 
}
.logo img{
  height: 55px;
  width: 55px;
  margin-top: 1vh;
}
.reseaux .box .mon{
  position: absolute;

  width: 18vw;
 height: 9vh;
  background: #5A7C2A;
  transition: 0.5s;
  transform-origin: bottom;
  transform: translateY(-100px) rotateX(90deg);
}

.reseaux .box:hover .mon{
 transform: translateY(0) rotateX(0deg);
}

.reseaux .box .mon h3{
  padding: 0%;
  /* list-style: 100px; */
  font-size: 1.2em;
  font-weight: 500;
  color: white;
  
}

.contact-info {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.8em;
  color: white;
  width: 60vw;
}
}






/* CODE POUR LE MENU */


.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #171816ae;
  /* padding: 10px; */
  position: fixed;  
  top: 0;  
  width: 100vw;  
  height:7vh;
  z-index: 1000;  
}


.navMenu li, .navContacts li {
display: inline-block;
}

.sousmenu {
position: relative;
display: inline-block;
}

.Le {

/* padding: 14px 20px; */
font-size: 16px;
border: none;
cursor: pointer;
text-decoration: none;
}

.menuDeroulant {
display: none;
position: absolute;
background-color: rgba(0, 0, 0, 0.767);
width: 15vw;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.767);
z-index: 1;
color: white;
}

.menuDeroulant .submenu {
position: relative;
}
.Le:hover{
background-color: white;
color: black;
}

.menuDeroulant li{
color: white;
padding: 7px 13px;
text-decoration: none;
display: block;
list-style-type: none;
}

.menuDeroulant a:hover {
background-color: #f1f1f1;
color: black;
}

.deroulant{
list-style: none;
display: none;
position: absolute;
left: 100%;
width: 20px;
top: 0;
color: white;
background-color: rgba(0, 0, 0, 0.767);
min-width: 15vw;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.767);
}

.deroulant a:hover {
background-color: white;
color: black;
}

.sousmenu:hover .menuDeroulant {
display: block;
}

.submenu:hover .deroulant {
display: block;
}


.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 1em;
}

.navMenu, .navContacts {
  flex: 1;
  text-align: center; 
}

.navMenu a, .navContacts a {
  color:white; 
  text-decoration: none;
  font-size: 24px;
}
.avatar {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.navLogo img {
  max-width: 80px; 
  height: auto;
  cursor: pointer;
}
.navLogo :hover{
  transform: scale(1.08);
}
.avatar :hover{
  transform: scale(1.08); 
}




   /* RESPONSIVE BURGER */
/* TÉLÉPHONE */
@media screen and (max-width: 767px) {
  
  .navLogo {
      width: 40px;
      height: 40px;
      display: block;
  }
  
  .navbar{
    height: 40px;
    width: 99vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    font-size: 1em;
    right: 0;
   
  }


  .navLogo img {
      width: 100%;
      height: 100%;
  }

  .burgerMenu {
      display: block;
  }
  .burger-menu{
    display: block;

  }
   .burger-menu img {
        height: 40px;
        width: 40px;
        
    }
  .avatar img{
    height: 35px;
     width: 35px;
     margin-left: 5vw;
  }

  .navMenu {
      display: none;
      
  }

  .navMenu.active {
      display: block;
      right: 0;
    
  }

  .menuDeroulant {
      display: none;
      flex-direction: column;
      list-style: none;
      color: white;
      background-color: #171816ae; 
      height: 18vh;
      max-width: 100vw;
      margin-top: 224px; 
      right: 0;
      margin-right: -15vw;
     
  }

.menuDeroulant li {
  color: white;
  padding: 6px;
  text-decoration: none;
  display: block;
  list-style: none;
  font-size: 1em;
  right: 0;
 
}

.soumenu{
  display: none;
  position: absolute;
  background-color: #171816ba;
  list-style: none; 
 height: 10vh;
  width: 100vw;
  right: 0;
  margin-right: -15vw;
  
}
.soumenu a, .submenu a{
  font-size: 1em!important;
}
.deroulant li{
  display: none;
}

.sousmenu .menuDeroulant {
      position: static;
      width: 100vw; 
  }
/* .submenu .deroulant {
    position: static; 
    width: 100%;
} */
.submenu {
  height: 15px;
  margin-left: -5vh;
}

.sousmenu:hover .menuDeroulant,
.sousmenu .menuDeroulant.active,
.navMenu.active .menuDeroulant  {
      display: flex;
      right: 0!important;
     margin-right: -20vw;
     right: 0;
    
  }
 .submenu:hover .deroulant,
  .submenu .deroulant.active {
      display: flex;
      right: 0!important;
      margin-right: -15vw;
      right: 0;
     
  }
  /* .navMenu li {
      width: 100%;
      text-align: center;
      padding: 10px;
      color: white;
  } */
.logoHome{
  display: none;
}
   .menuDeroulant a:hover {
      background-color: #f1f1f1;
      color: black;
     
  }
  
}


/* TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1180px){
  .navLogo {
    width: 40px;
    height: 40px;
    display: block;
}
.navbar{
  height: 40px;
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: 1em;
}
.navLogo img {
    width: 50px;
    height: 50px;
}

.burgerMenu {
    display: block;
    margin-right: 2vw;
}
.submenu {
  height: 15px;
}
.submenu p{
  margin-left: -5px;
}
.navMenu {
  display: none;
    flex-direction: column;
    width: 100vw;
    position: absolute;
    top: 46px;
   left: 0;
    /* background-color: #171816ae; */
    color: white;
    list-style: none;
    z-index: 999; 
    margin-left: -5vw;
}

.navMenu.active {
    display: flex;
    left: 0;
}

.menuDeroulant {
    display: none;
    flex-direction: column;
    list-style: none;
    color: white;
    background-color: #171816ae;
 left: 0;
   height: 20vh;
   width: 100vw;
   margin-left: -5vw;
}

.sousmenu .menuDeroulant {
    position: static; 
    margin-left: -5vw;
}

.soumenu a, .submenu a{
  font-size: 1em!important;
}

.sousmenu:hover .menuDeroulant,
.sousmenu .menuDeroulant.active,
.navMenu.active .menuDeroulant {
    display: flex;
   
}
.submenu:hover .deroulant,
.submenu .deroulant.active {
    display: flex;
    right: 0!important;
    margin-left: -5vw;
}
.navMenu li {
    width: 100%;
    text-align: center;
    padding: 7px;
    color: white;
    
}
.logoHome{
display: none;
}
.burger-menu img {
    height: 50px;
    width: 50px;
}
.burger-menu{
  display: block;
}
.navMenu a, .menuDeroulant a {
    color: white;
    text-decoration: none;
   
}

.navMenu a:hover, .menuDeroulant a:hover {
    background-color: #f1f1f1;
    color: black;
    
}
}