@import url(./menu.css);
/* CLASSIQUUUEEEEEEEEEEEEEE*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Cette propriété s'assure que padding et border sont inclus dans la largeur/hauteur total(e) de l'élément */
  }
  html, body {
    width: 100%;
    height: 100%;
    
  }
 

    
/* KEBAAAABBBBBBBBBBB*/

.backKebab {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../img/lekebab.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  .titre2 {
    width: 50vw;
    height: 100vh;
    color: #5A7C2A;
  }
  
  .h2Second {
    height: 65vh;
    width: 50vw;
    margin-left: -3vw;
    margin-top: 5vh;
  }
  .h2{
    font-size: 1.8em;
  }
  .description2{
    color: white;
    font-size: 1.2em;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 5vh;
  }
  .prix-container2 {
    height: 35vh;
    width: 50vw;
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    align-items: center;
    margin-left: 20px; /* Ajustez la valeur pour votre besoin */
  }
  
  .prix2 {
    display: flex;
    flex-direction: row;
    gap: 50px; /* Espace entre les options */
    align-items: center;
    margin-left: 13vw;
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12vh;
    gap: 5px; /* Espacement entre le texte et le cercle */
  }
  
  .option span {
    font-size: 1.5em;
    color: #5A7C2A; /* Ajustez la couleur pour correspondre au thème */
  }
  
  .prix2 p {
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color: #5A7C2A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   
  }
  
  
  .titresupp2 {
    width: 50vw;
    height: 100vh;
   
  }
  
  .h2supp2{
    height: 20vh;
    width: 50vw;
    color: #5A7C2A;
    font-size: 1.8em;
    margin-top: 5vh;
  }
  .suppléments2{
    height: 45vh;
    width: 35vw;
    margin-top: 10vh;
    margin-left: 7vw;
  
  }
  
  .suppléments2 img{
    height: 100px;
   
  }
  
  .optionsupp2{
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
    margin-top: -5vh;
  }
  .optionsupp2 span{
    font-size: 1.5em;
    color: #C2402D;
  }
  .optionsupp2 p{
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color:#C2402D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   
  }


     
/* PANINIIIIIIIIIIIII*/
.titresupp1, .titre1 {
    flex: 1; /* Donne aux conteneurs une flexibilité pour utiliser l'espace disponible */
    width: 100%; /* Assurez-vous que les conteneurs utilisent toute la largeur */
}
.backPanini {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../img/lepanini.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

  .backGalette {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../img/lepanini.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }

  .titre1 {
    width: 50vw;
    height: 100vh;
    color: #5A7C2A;
  }
  
  .h2Premier {
    height: 65vh;
    width: 50vw;
    margin-left: -3vw;
    margin-top: 5vh;
  }
  .h2{
    font-size: 1.8em;
  }
  .description1{
    color: white;
    font-size: 1.2em;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 3vh;
  }
  .prix-container1 {
    height: 35vh;
    width: 50vw;
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    align-items: center;
    margin-left: -50px;  
    margin-top: 40px;
  }
  
  .prix1 {
    display: flex;
    flex-direction: row;
    gap: 50px; /* Espace entre les options */
    align-items: center;
    margin-left: 13vw;
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12vh;
    gap: 5px; /* Espacement entre le texte et le cercle */
  }
  
  .option span {
    font-size: 1.5em;
    color: #5A7C2A; /* Ajustez la couleur pour correspondre au thème */
  }
  
  .prix1 p {
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color: #5A7C2A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  
  }
  
  
  .titresupp1 {
    width: 50vw;
    height: 100vh;
  }
  .h2viande{
    height: 10vh;
    width: 50vw;
    color: #5A7C2A;
    font-size: 1.8em;
    margin-top: 5vh;
  }
  .viandes{
    height: 30vh;
    width: 35vw;
    margin-left: 7vw;
  }
  .viandes img{
    height: 100px; 
  }
  
  .h2supp1{
    height: 10vh;
    width: 50vw;
    color: #5A7C2A;
    font-size: 1.8em;
    margin-top: 40px;
  }
  .suppléments1{
    height: 30vh;
    width: 35vw;
    margin-top: -20px;
    margin-left: 90px;
  }
  
  .suppléments1 img{
    height: 100px; 
  }
  
  .optionsupp1{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5px;  */
    margin-top: -5vh;
  }
  .optionsupp1 span{
    font-size: 1.5em;
    color: #C2402D;
  }
  .optionsupp1 p{
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color:#C2402D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  
     
/* SANDWIICHHHHHHHHHHHHHHHHHH*/
.titrepanini, .titresupp {
    flex: 1; /* Donne aux conteneurs une flexibilité pour utiliser l'espace disponible */
    width: 100%; /* Assurez-vous que les conteneurs utilisent toute la largeur */
}
.backSandwich {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../img/lesandwich.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  
  .titresandwich {
    width: 50vw;
    height: 100vh;
    color: #5A7C2A;
  }
  
  .h2sandwich {
    height: 65vh;
    width: 50vw;
    margin-left: -3vw;
    margin-top: 5vh;
  }
  .h2{
    font-size: 1.8em;
  }
  .descriptionSandwich{
    color: white;
    font-size: 1.2em;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 5vh;
  }
  .prix-containerSandwich {
    height: 35vh;
    width: 50vw;
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    align-items: center;
    margin-left: 20px; /* Ajustez la valeur pour votre besoin */
  }
  
  .prixSandwich {
    display: flex;
    flex-direction: row;
    gap: 50px; /* Espace entre les options */
    align-items: center;
    margin-left: 13vw;
  }
  
  
  .prixSandwich p {
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color: #5A7C2A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   
  }
  
 

  .titresuppSandwich {
    display: flex;
    justify-content: space-around; /* Pour espacer les sections chaud et froid */
    width:50vw;
}

.sectiontotal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw; 
    margin-left: 20vw;
}

.h2chaud, .h2froid {
    color: #5A7C2A;
    font-size: 1.8em;
    width: 100%; /* Assure que le titre s'étend sur toute la largeur de la section */
    text-align: center;
}

.sandwichchaud, .sandwichfroid {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sandwichchaud p, .sandwichfroid p {
    font-size: 1.5em;
    color: white;
    padding: 5px 0;
}
.sectionfroid{
  margin-left: 80px;
}
.cotée2{
  height: 50vh;
  width: 50vw;
}
.titresuppSandwich, .cotée2 {
  width: 100%; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.sectiontotal{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.h2suppSandwich{
  height: 10vh;
    width: 50vw;
    color: #5A7C2A;
    font-size: 1.8em;
    margin-top: 50px;
  margin-top: -3px;
}
 .optionsuppSandwich{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  .optionsuppSandwich span{
    font-size: 1.5em;
    color: #C2402D;
  }
  .optionsuppSandwich p{
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color:#C2402D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  
  }

  .supplémentsSandwich{
    margin-left: -5px;
    margin-top: -25px;
    width: 40vw;
  }

  /* GALETTEEEEEEEEEEEE */
.titrepanini, .titresupp {
    flex: 1; /* Donne aux conteneurs une flexibilité pour utiliser l'espace disponible */
    width: 100%; /* Assurez-vous que les conteneurs utilisent toute la largeur */
}
.backGalette {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../img/lagalette.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  
  .titre1 {
    width: 50vw;
    height: 100vh;
    color: #5A7C2A;
  }
  
  .h2Premier {
    height: 65vh;
    width: 50vw;
    margin-left: -3vw;
    margin-top: 5vh;
  }
  .h2{
    font-size: 1.8em;
  }
  .description1{
    color: white;
    font-size: 1.2em;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 5vh;
  }
  .prix-container1 {
    height: 35vh;
    width: 50vw;
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    align-items: center;
    margin-left: 20px; /* Ajustez la valeur pour votre besoin */
  }
  
  .prix1 {
    display: flex;
    flex-direction: row;
    gap: 50px; /* Espace entre les options */
    align-items: center;
    margin-left: 13vw;
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12vh;
    gap: 5px; /* Espacement entre le texte et le cercle */
  }
  
  .option span {
    font-size: 1.5em;
    color: #5A7C2A; /* Ajustez la couleur pour correspondre au thème */
  }
  
  .prix1 p {
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color: #5A7C2A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
 
  }
  
  
  .titresupp1 {
    width: 50vw;
    height: 100vh;
  }
  .h2viande{
    height: 10vh;
    width: 50vw;
    color: #5A7C2A;
    font-size: 1.8em;
    margin-top: 5vh;
  }
  .viandes{
    height: 30vh;
    width: 35vw;
   
  }
  .viandes img{
    height: 100px; 
  }
  
  .h2supp1{
    height: 10vh;
    width: 50vw;
    color: #5A7C2A;
    font-size: 1.8em;
    margin-top: 50px;
  }
  .suppléments1{
    height: 30vh;
    width: 35vw;
    margin-top: -3vh;
    
  }
  
  .suppléments1 img{
    height: 100px; 
  }
  
  .optionsupp1{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5px;  */
    margin-top: -5vh;
  }
  .optionsupp1 span{
    font-size: 1.5em;
    color: #C2402D;
  }
  .optionsupp1 p{
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color:#C2402D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  
  }

   
/* MENU ENFANT */

.backEnfant {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../img/menuenfant.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  
  .titre3 {
    width: 50vw;
    height: 100vh;
    color: orange;
  }
  
  .h2Second {
    height: 65vh;
    width: 50vw;
    margin-left: -3vw;
    margin-top: 5vh;
  }
  .h2{
    font-size: 1.8em;
  }
  .description2{
    color: white;
    font-size: 1.2em;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 5vh;
  }
  .prix-container3 {
    height: 35vh;
    width: 50vw;
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    align-items: center;
    margin-left: 20px; /* Ajustez la valeur pour votre besoin */
  }
  
  .prix3 {
    display: flex;
    flex-direction: row;
    gap: 50px; /* Espace entre les options */
    align-items: center;
    margin-left: 13vw;
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12vh;
    gap: 5px; /* Espacement entre le texte et le cercle */
  }
  
  .option span {
    font-size: 1.5em;
    color: #5A7C2A; /* Ajustez la couleur pour correspondre au thème */
  }
  
  .prix3 p {
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color: #5A7C2A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  
  }
  
  
  .titresupp3 {
    width: 50vw;
    height: 100vh;
   
  }
  
  .h2supp3{
    height: 20vh;
    width: 50vw;
    color: orange;
    font-size: 1.8em;
    margin-top: 5vh;
  }
  .suppléments3{
    height: 45vh;
    width: 35vw;
    margin-top: 10vh;
    margin-left: 7vw;
  
  }
  
  .suppléments3 img{
    height: 100px;
   
  }
  
  .optionsupp3{
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
    margin-top: -5vh;
  }
  .optionsupp3 span{
    font-size: 1.5em;
    color: #C2402D;
  }
  .optionsupp3 p{
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color:#C2402D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   
  }

  .item {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 100px;
    overflow: hidden; /* Maintenu pour le zoom mais vérifiez son impact sur les labels */
}

.item img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.3);
}

.label {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0; /* Assurez-vous que le label est centré horizontalement */
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Améliore la visibilité */
    visibility: hidden;
    font-size: 0.9em;
    padding: 2px 0;
}

.item:hover .label {
    visibility: visible;
}



/* RESPONSIVEEEEEEEEEEEEEEEEEEE */

/* TELEPHONE */

@media screen and (max-width: 767px){
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

  }
  html, body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
  }
  


  .responsiveKebab, .responsivePanini, .responsiveGalette, .responsiveSandwich, .responsiveEnfant{
    display: block;
      }

      .responsiveKebab img, .responsivePanini img, .responsiveGalette img, .responsiveEnfant img{
    height: 200px;
    width: 200px;
          }    
/* KEBAB */

  .backKebab {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/backtelephone.png);
    background-color: black;
    display: flex;
    flex-direction: column; /* Les enfants sont disposés en colonne */
    align-items: center; /* Centre les enfants horizontalement */
    padding: 0 20px; /* Ajout de padding pour ne pas que le contenu touche les bords */
  }
  .responsiveKebab{
    height: 10vh;
    width: 100vw;
   text-align: center;
   margin-left: -20vw;
  }

  .titre2{
    width: 100vw;
    height: 60vh; 
    overflow: hidden;
    display: flex;
    flex-direction: column;  
  }
  .titresupp2{
    width: 100vw;
    height: 40vh;
  }
  .h2Second{
    height: 15vh;
    width: 100vw;
  }

  .description2{
    width: 95vw;
    height: 5vh; /* Utilisation de la largeur complète de l'écran */
  }
  .prix-container2 .prix2{
   display: flex;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    height: 20vh; 
    width: 100vw; 
  margin-top: 9vh;
  margin-left: 25vw;
  }
.option span{
    font-size: 1em;
}
.prix2 p{
  height: 70px;
  width: 70px;
  font-size: 1.3em;
  
}

  .h2 {
    font-size: 1.2em;
    height: 5vh; 
    width: 100vw;
  }

 
  .h2supp2{
    font-size: 1.1em;
    height: 10vh;
    width: 100vw;
  margin-top: -15px;
  }


  .suppléments2 img {
    height: 45px;
    width: 45px; 
  }
  .suppléments2{
    height: 15vh;
    width: 90vw;
    margin-top: -30px;
  }
.suppléments2 .item{
  height: 65px;
  width: 65px;
}
 
  .optionsupp2{
    height: 15vh;
    width: 90vw;
    margin-top: 15px;
    gap: 10px;
    margin-left: 20px;
  }
  .optionsupp2 span {
    font-size: 1.1em;
    margin-top:15px; 
  }

  .optionsupp2 p {
   height: 50px;
    width: 50px;
    font-size: 1em; /* Taille de police pour le prix */
    display: flex;
    justify-content: center;
    align-items: center;
  }



  /* PANINI  ET GALETTE*/
 

  .backPanini {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/backtelephone.png);
    background-color: black;
    display: flex;
    flex-direction: column; /* Les enfants sont disposés en colonne */
    align-items: center; /* Centre les enfants horizontalement */
    padding: 0 20px; /* Ajout de padding pour ne pas que le contenu touche les bords */
  }
 .responsivePanini,  .responsiveGalette{
  height: 10vh;
  width: 100vw;
 text-align: center;
 margin-left: -20vw;
 margin-top: -5vh;
 }

  .backGalette {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/backtelephone.png);
    display: flex;
    flex-direction: column; /* Les enfants sont disposés en colonne */
    align-items: center; /* Centre les enfants horizontalement */
    padding: 0 20px; /* Ajout de padding pour ne pas que le contenu touche les bords */
  }
 
  .titre1{
    width: 100vw;
    height: 45vh; /* Prend toute la largeur de la vue */
    overflow: hidden; /* Évite le débordement hors de la vue */
    
  }
  .h2Premier{
    height: 10vh;
    width: 100vw;

  }

  .h2Premier h2{
    font-size: 1.9em;
   
  }
  .h2 {
    height: 5vh; 
  }

  .description1 {
    width: 95vw;
    height: 5vh;
    margin: auto;  
  }
  .prix-container1 .prix1{
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    height: 10vh; 
    width: 100vw; 
    margin-left: 20vw;
  }

  .prix1 p{
    height: 80px;
    width: 80px;
    font-size: 1.3em;
  }
 

.option span{
    font-size: 1em;
}


.titresupp1{
  width: 100vw;
  height: 55vh;
}

 
  .h2viande{
    font-size: 1em;
    height: 5vh;
    width: 100vw;
    margin-top: -2vh;
  }
  .viandes{
    height: 15vh;
    width: 100vw;
    margin-left: -5px;
 
  }
  .viandes .item{
    height: 60px;
    width: 60px;
  }
  .h2supp1{
    font-size: 1.1em;
    height: 5vh;
    width: 100vw;
    margin-top: -1vh;
  }

  .suppléments1 img, .viandes img {
    height: 60px;
    width: 60px; 
  }
  .suppléments1{
    height: 15vh;
    width: 100vw;
   margin-left: -5px;
   margin-top: 2vh;
  
  }

.suppléments1 .item{
  height: 60px;
  width: 60px;
}
  .optionsupp1{
    height: 10vh;
    width: 90vw;
margin-top: 5px;
    gap: 5px;
    margin-left: 20px;
  }
  .optionsupp1 span {
    font-size: 1.1em; 
  }
  .optionsupp1 p {
    height: 50px;
    width: 50px;
    font-size: 1.3em;/* Taille de police pour le prix */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.3);
}

.label {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0; /* Assurez-vous que le label est centré horizontalement */
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Améliore la visibilité */
    visibility: hidden;
    font-size: 0.9em;
    padding: 2px 0;
}
/* SANDWICH */

.backSandwich {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/backtelephone.png);
  background-color: black;
  display: flex;
  flex-direction: column; /* Les enfants sont disposés en colonne */
  align-items: center; /* Centre les enfants horizontalement */
  padding: 0 20px; /* Ajout de padding pour ne pas que le contenu touche les bords */
}
.responsiveSandwich{
  height: 10vh;
width: 50vw;
text-align: center;
}
.responsiveSandwich img{
  height: 170px;
  width: 170px;
}
.titresandwich{
  width: 100vw;
  height: 33vh; /* Prend toute la largeur de la vue */
  overflow: hidden; /* Évite le débordement hors de la vue */
  
}
.flex{
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
}

.h2sandwich{
  height: 5vh;
  width: 100vw;
  padding: 0%;
}

.h2sandwich h2{
  font-size: 1.9em;
 
}
.h2 {
  height: 5vh; 
}

.descriptionSandwich {
  width: 95vw;
  height: 5vh; 
  margin: auto;
}
.prix-containerSandwich .prixSandwich{
  display: flex;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  height: 15vh; 
  width: 50vw; 
  margin-left: -40px;

  /* margin: 120px 50px 50px 50px; */
}


.prixSandwich p{
  height: 60px;
  width: 60px;
  font-size: 1.3em;
}
.sandwichchaud p, .sandwichfroid p {
  font-size: 1.5em;
  color: white;
  padding: 2px 0;
}

.option span{
  font-size: 1.2em;
}


.titresuppSandwich{
width: 100vw;
height: 70vh;

}

.sectiontotal{
  width: 100vw;
  height: 10vh;
  font-size: 0.5em;
  margin-left: 40vw;
  margin-top: 5vh;
}
.sectionfroid{
  margin-left: 40px;
}
.cotée2{
  width: 100vw;
  height: 30vh;
}
.h2suppSandwich{
  font-size: 1em;
}
.supplémentsSandwich img {
  height: 45px;
  width: 45px; 
}
.supplémentsSandwich{
  height: 15vh;
  width: 90vw;
margin-left: 20px;
}

.supplémentsSandwich .item{
height: 65px;
width: 65px;
}
.optionsuppSandwich{
  height: 10vh;
  width: 90vw;
  margin-top: 15px;
  gap: 10px;
  margin-left: 20px;
}
.optionsuppSandwich span {
  font-size: 1.1em; 
}
.optionsuppSandwich p {
  height: 50px;
  width: 50px;
  font-size: 1em; /* Taille de police pour le prix */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* MENU ENFANT */

.backEnfant {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/backtelephone.png);
  background-color: black;
  display: flex;
  flex-direction: column; /* Les enfants sont disposés en colonne */
  align-items: center; /* Centre les enfants horizontalement */
  padding: 0 20px; /* Ajout de padding pour ne pas que le contenu touche les bords */
}

.responsiveEnfant img{
  margin-left: -40vw;
}

.titre3{
  width: 100vw;
    height: 60vh; 
    overflow: hidden;
    display: flex;
    flex-direction: column; 
}
.titresupp3{
  width: 100vw;
    height: 40vh;
}
.h2Second{
  height: 15vh;
    width: 100vw;
}
.description2{
  width: 80vw;
  height: 5vh;
  margin: auto; 
}

.prix-container3{
  display: flex;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  height: 20vh; 
  width: 100vw; 
  margin-top: 40px;
  margin-left: 12vw;
}

.option span{
  font-size: 1em;
}

.prix3 p{
  height: 70px;
  width: 70px;
  font-size: 1.3em;
}

.prix3{
height: 15vh;
width: 90vw;
}

.h2 {
  font-size: 1.2em;
  height: 5vh; 
  width: 100vw;
}

.h2supp3{
  font-size: 1.1em;
    height: 10vh;
    width: 100vw;
  margin-top: -15px;
}

.suppléments3 img {
  height: 45px;
  width: 45px; 
}
.suppléments3{
  height: 15vh;
  width: 90vw;
  margin-top: -30px;
}
.suppléments3 .item{
height: 65px;
width: 65px;
}

.optionsupp3{
  height: 15vh;
  width: 90vw;
  margin-top: 15px;
  gap: 10px;
  margin-left: 20px;
}
.optionsupp3 span {
  font-size: 1.1em; 
  margin-top:15px;
}

.optionsupp3 p {
  height: 50px;
  width: 50px;
  font-size: 1em; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.item:hover img {
  transform: scale(1.3);
}

.label {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 0;
  right: 0; 
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); 
  visibility: hidden;
  font-size: 0.9em;
  padding: 2px 0;
}
}


/* Format Ordinateur */
@media screen and (min-width: 1000px) {
  .responsiveKebab{
    display: none;
      }
 .responsivePanini{
        display: none;
          }
.responsiveGalette{
  display: none;
              }
.responsiveSandwich{
  display: none;
                  }
.responsiveEnfant{
  display: none;
                      }         
}

/* FORMAT TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1024px){
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  
  }
  html, body {
    width: 100%;
    height: 100%;
    
  }

  .responsiveKebab, .responsivePanini, .responsiveGalette, .responsiveSandwich, .responsiveEnfant{
    display: block;
      }

      .responsiveKebab img, .responsivePanini img, .responsiveGalette img, .responsiveEnfant img{
        height: 300px;
        width: 300px;
              } 
  .responsivePanini, .responsiveGalette, .responsiveSandwich {
          
              height: 25vh;
                width: 100vw;
               text-align: center;
              margin-left: -30vw;
              }
              
  /* Kebab */
  

  .backKebab {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/backtelephone.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }
  
  .responsiveKebab{
    display: block;
  height: 25vh;
    width: 100vw;
   text-align: center;
  margin-left: -30vw;
  }
  
  .responsiveKebab img {
    height: 300px;
    width: 300px;
  }

  .titre2 {
    width: 100vw;
    height: 60vh; 
    overflow: hidden;
    display: flex;
    flex-direction: column;  
  }

  .h2Second {
    height: 15vh;
    width: 100vw;
    
  }
  .h2Second h2{
    font-size: 1.8em;
  }

  .description2 {
    width: 90vw;
    height: 5vh;
    
  }

  .description2 p {
    font-size: 1.4em;
  }

  .prix-container2 , .prix2{
    display: flex;
    text-align: center;
    justify-content: center; 
    align-items: center; 
    height: 20vh;
    width: 100vw;

  }

  .option span {
    font-size: 1.7em;
  }

  .prix2 p {
    height: 90px;
    width: 90px;
    font-size: 1.9em;
  }

  .h2 {
    font-size: 1.9em;
    height: auto;
    width: 100vw;
    text-align: center;
    margin: 20px 0;
  }

  .titresupp2 {
    width: 100vw;
    height: 40vh;
    text-align: center;
 
  }

  .h2supp2 {
    font-size: 1.4em;
    height: 10vh;
    width: 100vw;
    
  }

  .suppléments2 {
    height: 15vh;
    width: 95vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-top: -35px;
    margin-left: -5px;
  }

  .suppléments2 .item {
    height: 70px;
  width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .suppléments2 img {
    height: 60px;
    width: 60px;
  }

  .optionsupp2 {
    height: 15vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    margin-left: 10vw;
  }

  .optionsupp2 span {
    font-size: 1.4em;
  }

  .optionsupp2 p {
    height: 60px;
    width: 60px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }

  .item:hover img {
    transform: scale(1.3);
  }

  .label {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    font-size: 1em;
    padding: 2px 0;
  }

  /* Galette et panini */

  .backGalette, .backPanini{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/backtelephone.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }


  .responsivePanini,  .responsiveGalette{
    height: 10vh;
    width: 100vw;
   text-align: center;
 
   }
  

  .titre1{
    width: 100vw;
    height: 45vh; 
    overflow: hidden; 
  }
  
  .h2Premier{
    height: 10vh;
    width: 100vw;

  }

  .h2Premier h2{
    font-size: 1.9em;
   
  }
  .h2 {
    height: 5vh; 
  }

  .description1 {
    width: 95vw;
    height: 5vh;
    margin: auto;
    margin-left: 35px;
    text-align: center;
  }
  .description1 p {
    font-size: 1.4em;
  }
  .prix-container1 .prix1{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10vh; 
    width: 100vw; 
    margin-left: 40vw;
    margin-top: -5vh;
  }

  .prix1 p{
    height: 90px;
    width: 90px;
    font-size: 1.9em;
  }
 

.option span{
    font-size: 1em;
}


.titresupp1{
  width: 100vw;
  height: 55vh;
}

 
  .h2viande{
    font-size: 1.4em;
    height: 5vh;
    width: 100vw;
    margin-top: -2vh;
  }
  .viandes{
    height: 15vh;
    width: 100vw;
    margin-left: -5px;
 
  }
  .viandes .item{
    height: 70px;
    width: 70px;
  }
  .h2supp1{
    font-size: 1.4em;
    height: 5vh;
    width: 100vw;
    margin-top: -2vh;
  }

  .suppléments1 img, .viandes img {
    height: 60px;
    width: 60px; 
  }
  .suppléments1{
    height: 15vh;
    width: 100vw;
   margin-left: -5px;
   margin-top: 2vh;
  
  }

.suppléments1 .item{
  height: 70px;
  width: 70px;
}
  .optionsupp1{
    height: 10vh;
    width: 90vw;
margin-top: 5px;
    gap: 5px;
    margin-left: 20px;
    margin-top: -3vh;
  }
  .optionsupp1 span {
    font-size: 1.5em; 
  }
  .optionsupp1 p {
    height: 50px;
    width: 50px;
    font-size: 1.2em; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.3);
}

.label {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0; 
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    visibility: hidden;
    font-size: 0.9em;
    padding: 2px 0;
}

/* SANDWICH */

.backSandwich {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/backtelephone.png);
  background-color: black;
  display: flex;
  flex-direction: column; /* Les enfants sont disposés en colonne */
  align-items: center; /* Centre les enfants horizontalement */
  padding: 0 20px; /* Ajout de padding pour ne pas que le contenu touche les bords */
}
.responsiveSandwich{
  height: 10vh;
    width: 50vw;
text-align: center;

}

.responsiveSandwich img{
  height: 200px;
  width: 200px;
}
.titresandwich{
  width: 100vw;
  height: 33vh; 
  overflow: hidden; /
  
}
.flex{
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-left: 20vw;
  width: 100vw;
  height: 10vh;
}

.h2sandwich{
  height: 5vh;
  width: 100vw;
  padding: 0%;
}

.h2sandwich h2{
  font-size: 1.9em;
 
}
.h2 {
  height: 5vh; 
}

.descriptionSandwich {
  width: 95vw;
  height: 5vh; 
  margin: auto;
}
.descriptionSandwich p{
font-size: 1.5em;
}
.prix-containerSandwich .prixSandwich{
  display: flex;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  height: 15vh; 
  width: 50vw; 
  margin-left: -40px;
  margin-top: -3vh;

  /* margin: 120px 50px 50px 50px; */
}


.prixSandwich p{
  height: 70px;
  width: 70px;
  font-size: 1.4em;
}
.sandwichchaud p, .sandwichfroid p {
  font-size: 2.7em;
  color: white;
  padding: 2px 0;
}

.option span{
  font-size: 1em;
}


.titresuppSandwich{
width: 100vw;
height: 70vh;

}

.sectiontotal{
  width: 100vw;
  height: 10vh;
  font-size: 0.5em;
  margin-left: 10vw;
  margin-top: 5vh;
}
.sectionfroid{
  margin-left: 40px;
}
.cotée2{
  width: 100vw;
  height: 30vh;
}
.h2suppSandwich{
  font-size: 1.7em;
}
.supplémentsSandwich img {
  height: 60px;
  width: 60px; 
}
.supplémentsSandwich{
  height: 15vh;
  width: 90vw;
margin-left: 20px;
}

.supplémentsSandwich .item{
  height: 70px;
  width: 70px;
}
.optionsuppSandwich{
  height: 10vh;
  width: 90vw;
  margin-top: 15px;
  gap: 10px;
  margin-left: 20px;
}
.optionsuppSandwich span {
  font-size: 1.5em; 
}
.optionsuppSandwich p {
  height: 50px;
    width: 50px;
  font-size: 1.2em; /* Taille de police pour le prix */
  display: flex;
  justify-content: center;
  align-items: center;
}


/* MENU ENFANT  */


.backEnfant {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/backtelephone.png);
  background-color: black;
  display: flex;
  flex-direction: column; /* Les enfants sont disposés en colonne */
  align-items: center; /* Centre les enfants horizontalement */
  padding: 0 20px; /* Ajout de padding pour ne pas que le contenu touche les bords */
}

.responsiveEnfant{
  display: block;
height: 25vh;
  width: 100vw;
 text-align: center;
margin-left: -30vw;
}

.responsiveEnfant img {
  height: 300px;
  width: 300px;
}

.titre3{
  width: 100vw;
    height: 60vh; 
    overflow: hidden;
    display: flex;
    flex-direction: column; 
}
.titresupp3{
  width: 100vw;
    height: 40vh;
}
.h2Second{
  height: 15vh;
    width: 100vw;
}
.description2{
  width: 80vw;
  height: 5vh;
  margin: auto; 
}

.prix-container3{
  display: flex;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  height: 20vh; 
  width: 100vw; 
  margin-top: 30px;
  margin-left: 35vw;
}

.option span{
  font-size: 1.5em;
}

.prix3 p{
  height: 90px;
  width: 90px;
  font-size: 1.9em;
}

.prix3{
height: 15vh;
width: 90vw;
}

.h2 {
  font-size: 1.2em;
  height: 5vh; 
  width: 100vw;
}

.h2supp3{
  font-size: 1.4em;
    height: 10vh;
    width: 100vw;
  margin-top: 5vh;
}

.suppléments3 img {
  height: 60px;
  width: 60px; 
}
.suppléments3{
  height: 15vh;
  width: 90vw;
  margin-top: -10px;
}
.suppléments3 .item{
  height: 70px;
  width: 70px;
}

.optionsupp3{
  height: 15vh;
  width: 90vw;
 
  gap: 10px;
  margin-left: 20px;
}
.optionsupp3 span {
  font-size: 1.5em; 
  margin-top:15px;
}

.optionsupp3 p {
  height: 60px;
  width: 60px;
  font-size: 1.2em; /* Taille de police pour le prix */
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.item:hover img {
  transform: scale(1.3);
}

.label {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 0;
  right: 0; /* Assurez-vous que le label est centré horizontalement */
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Améliore la visibilité */
  visibility: hidden;
  font-size: 0.9em;
  padding: 2px 0;

}

}