@import url(./menu.css);
/* COMPOSITIONNNNNNNNNN*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Cette propriété s'assure que padding et border sont inclus dans la largeur/hauteur total(e) de l'élément */
  }
  html, body {
    width: 100%;
    height: 100%;

  }
 

  .responsiveTacos img,  .responsiveTacosbowl img, .responsiveKapsalon img, .responsiveAssiette img, .responsiveCarbonnade img{
    display: none;
  }
 
.responsiveTacos ,  .responsiveTacosbowl, .responsiveKapsalon, .responsiveAssiette, .responsiveCarbonnade{
  display: none;
}
     
/* TACOOOOOOOOSSSSSSSSS */
.titretacos, .titresupp {
    flex: 1; /* Donne aux conteneurs une flexibilité pour utiliser l'espace disponible */
    width: 100%; /* Assurez-vous que les conteneurs utilisent toute la largeur */
}
.backTacos {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../img/pagetacos.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  
  .titre1 {
    width: 50vw;
    height: 100vh;
    color: #5A7C2A;
  }
  
  .h2Premier {
    height: 65vh;
    width: 50vw;
    margin-left: -3vw;
    margin-top: 5vh;
  }
  .h2{
    font-size: 1.8em;
  }
  .description1{
    color: white;
    font-size: 1.2em;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 3vh;
  }
  .prix-container1, .prix-containerK, .prix-containerT {
    height: 35vh;
    width: 50vw;
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    align-items: center;
    margin-left: -50px;  
    margin-top: 40px;
  }
  
  .prix1, .prixK, .prixT{
    display: flex;
    flex-direction: row;
    gap: 50px; /* Espace entre les options */
    align-items: center;
    margin-left: 13vw;
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12vh;
    gap: 5px; /* Espacement entre le texte et le cercle */
  }
  
  .option span {
    font-size: 1.5em;
    color: #5A7C2A; /* Ajustez la couleur pour correspondre au thème */
  }
  
  .prix1 p {
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color: #5A7C2A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
 
  }
  
  .prixK p, .prixT p{
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color: #5A7C2A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  
  .titresupp1 {
    width: 50vw;
    height: 100vh;
  }
  .h2viande{
    height: 10vh;
    width: 50vw;
    color: #5A7C2A;
    font-size: 1.8em;
    margin-top: 5vh;
  }
  .viandes{
    height: 30vh;
    width: 35vw;
    margin-left: 7vw;
  }
  .viandes img{
    height: 100px; 
  }
  
  .h2supp1{
    height: 10vh;
    width: 50vw;
    color: #5A7C2A;
    font-size: 1.8em;
    margin-top: 40px;
  }
  .suppléments1{
    height: 30vh;
    width: 35vw;
    margin-top: -20px;
    margin-left: 90px;
  }
  
  .suppléments1 img{
    height: 100px; 
  }
  
  .optionsupp1{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5px;  */
    margin-top: -5vh;
  }
  .optionsupp1 span{
    font-size: 1.5em;
    color: #C2402D;
  }
  .optionsupp1 p{
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color:#C2402D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   
  }


     
/* TACOOOOOOOOSSSSSSSSS BOOOOOOWLLLLLLL */
.titretacos, .titresupp {
    flex: 1; /* Donne aux conteneurs une flexibilité pour utiliser l'espace disponible */
    width: 100%; /* Assurez-vous que les conteneurs utilisent toute la largeur */
}
.backTacosbowl {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../img/pagetacosbowl.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  
     
/* KAPSALOOONNNNNN */

.backKapsalon {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../img/lekapsalon2.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  
     
/* ASSIETTEEEEEEEEEEE*/
.titreassiette, .titresupp {
  flex: 1; /* Donne aux conteneurs une flexibilité pour utiliser l'espace disponible */
  width: 100%; /* Assurez-vous que les conteneurs utilisent toute la largeur */
}


.burger-menu-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.burger-menu {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.backAssiette {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../img/lassiette.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  

  .h2{
    font-size: 1.8em;
  }
  
  .prix {
    display: flex;
    flex-direction: row;
    gap: 50px; 
    align-items: center;
    margin-left: 8vw;
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12vh;
    gap: 5px; 
  }
  
  .option span {
    font-size: 1.5em;
    color: #5A7C2A; 
  }
  
  .prix p {
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color: #5A7C2A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
 
  }
  
  
  .titresupp {
    width: 50vw;
    height: 100vh;
  }
  .h2viande{
    height: 10vh;
    width: 50vw;
    color: #5A7C2A;
    font-size: 1.8em;
    margin-top: 5vh;
  }
  .viandes{
    height: 30vh;
    width: 35vw;
    margin-left: 7vw;
  }
  .viandes img{
    height: 100px; 
  }
  
  .optionsupp{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    margin-top: -5vh;
  }
  .optionsupp span{
    font-size: 1.5em;
    color: #C2402D;
  }
  .optionsupp p{
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color:#C2402D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  
  }

/* CARBONNADEEEEEEEE*/

.backCarbonnade {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(../img/lacarbonnade.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  
  .titrecarbonnade {
    width: 50vw;
    height: 100vh;
    color: #5A7C2A;
  }
  
  .h2carbonnade {
    height: 65vh;
    width: 50vw;
    margin-left: -3vw;
    margin-top: 5vh;
  }
  .h2{
    font-size: 1.8em;
  }
  .descriptionCarbonnade{
    color: white;
    font-size: 1.2em;
    width: 40vw;
    margin-left: 5vw;
    margin-top: 5vh;
  }
  .prix-container {
    height: 35vh;
    width: 50vw;
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    align-items: center;
    margin-left: 20px; /* Ajustez la valeur pour votre besoin */
  }
  
  .prix {
    display: flex;
    flex-direction: row;
    gap: 50px; /* Espace entre les options */
    align-items: center;
    margin-left: 13vw;
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -12vh;
    gap: 5px; /* Espacement entre le texte et le cercle */
  }
  
  .option span {
    font-size: 1.5em;
    color: #5A7C2A; /* Ajustez la couleur pour correspondre au thème */
  }
  
  .prix p {
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color: #5A7C2A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
 
  }
  
  
  .titresupp {
    width: 50vw;
    height: 100vh;
   
  }
  
  .h2supp{
    height: 20vh;
    width: 50vw;
    color: #5A7C2A;
    font-size: 1.8em;
    margin-top: 5vh;
  }
  .suppléments{
    height: 45vh;
    width: 35vw;
    margin-top: 10vh;
    margin-left: 7vw;
  
  }
  
  .suppléments img{
    height: 100px;
   
  }
  
  .optionsupp{
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5vh;
  }
  .optionsupp span{
    font-size: 1.5em;
    color: #C2402D;
  }
  .optionsupp p{
    height: 70px;
    width: 70px;
    font-size: 1.4em;
    background-color:#C2402D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
   
  }

  .item {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 100px;
    overflow: hidden; /* Maintenu pour le zoom mais vérifiez son impact sur les labels */
}

.item img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.3);
}

.label {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0; /* Assurez-vous que le label est centré horizontalement */
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Améliore la visibilité */
    visibility: hidden;
    font-size: 0.9em;
    padding: 2px 0;
}

.item:hover .label {
    visibility: visible;
}


/* RESPONSIVEEEEEEEEEEEEEEEEEEE */
/* TÉLÉPHONE */

/* TACOOOSSSS  TACOSBOWL  KAPSALON */
@media screen and (max-width: 767px){
  .burger-menu {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
  }

  .backTacos, .backTacosbowl, .backKapsalon{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/backtelephone.png);
    background-color: black;
    display: flex;
    flex-direction: column; /* Les enfants sont disposés en colonne */
    align-items: center; /* Centre les enfants horizontalement */
    padding: 0 20px; /* Ajout de padding pour ne pas que le contenu touche les bords */
  }

 
  .responsiveTacos,  .responsiveTacosbowl, .responsiveKapsalon, .responsiveAssiette{
    height: 10vh;
    width: 100vw;
   text-align: center;
margin-top: -3vh;
   display: block;
   }

    .responsiveTacos img,  .responsiveTacosbowl img, .responsiveKapsalon img, .responsiveAssiette img{
      height: 200px;
      width: 200px;
      display: block;
   }
   

  .titre1{
    width: 100vw;
    height: 45vh; /* Prend toute la largeur de la vue */
    overflow: hidden; /* Évite le débordement hors de la vue */
    
  }
  .h2Premier{
    height: 10vh;
    width: 100vw;

  }

  .h2Premier h2{
    font-size: 1.9em;
   
  }
  .h2 {
    height: 5vh; 
  }

  .description1 {
    width: 95vw;
    height: 5vh;
    margin: auto;  
  }
  .prix-container1 .prix1{
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    height: 15vh; 
    width: 100vw; 
    margin-left: 25vw;
    margin-top:7vh;
  }
 .prix-containerK, .prixK, .prix-containerT, .prixT{
  display: flex;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
  height: 15vh; 
  width: 100vw; 
  margin-top:7vh;
  margin-left: 10vw;
 }
  .prix1 p{
    height: 60px;
    width: 60px;
    font-size: 1.3em;
  }
 

.option span{
    font-size: 1em;
    display: flex;
}


.titresupp1{
  width: 100vw;
  height: 55vh;
}

 
  .h2viande{
    font-size: 1em;
    height: 5vh;
    width: 100vw;
    margin-top: -2vh;
  }
  .viandes{
    height: 15vh;
    width: 100vw;
    margin-left: -5px;
 
  }
  .viandes .item{
    height: 50px;
    width: 50px;
  }
  .h2supp1{
    font-size: 1.1em;
    height: 5vh;
    width: 100vw;
    margin-top: -2vh;
  }

  .suppléments1 img, .viandes img {
    height: 50px;
    width: 50px; 
  }
  .suppléments1{
    height: 15vh;
    width: 100vw;
   margin-left: -5px;
   margin-top: 2vh;
  
  }

.suppléments1 .item{
  height: 50px; 
  width: 50px;
}
  .optionsupp1{
    height: 10vh;
    width: 90vw;
   margin-top: 5px;
    gap: 5px;
    margin-left: 20px;
  }
  .optionsupp1 span {
    font-size: 1.1em; 
  }
  .optionsupp1 p {
    height: 50px;
    width: 50px;
    font-size: 1em; /* Taille de police pour le prix */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.3);
}

.label {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0; /* Assurez-vous que le label est centré horizontalement */
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Améliore la visibilité */
    visibility: hidden;
    font-size: 0.9em;
    padding: 2px 0;
}

}







/* ASSIETTEEEEEEEEE */
@media screen and (max-width: 767px){
  .burger-menu {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
  }

  .backAssiette {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/backtelephone.png);
    background-color: black;
    display: flex;
    flex-direction: column; /* Les enfants sont disposés en colonne */
    align-items: center; /* Centre les enfants horizontalement */
    padding: 0 20px; /* Ajout de padding pour ne pas que le contenu touche les bords */
  }

 }




/* CARNONNADEEE */
@media screen and (max-width: 767px){
 

  .backCarbonnade {
    height: 100vh;
    width: 100vw;
    background-image: url(../img/backtelephone.png);
    display: flex;
    flex-direction: column; /* Les enfants sont disposés en colonne */
    align-items: center; /* Centre les enfants horizontalement */
    padding: 0 20px; /* Ajout de padding pour ne pas que le contenu touche les bords */
  }
 .responsiveCarbonnade{
  display: block;
  height: 10vh;
  width: 100vw;
 text-align: center;

 }
 .responsiveCarbonnade img{
  height: 200px;
  width: 200px;
  display: block;
 }
  .titre1{
    width: 100vw;
    height: 60vh; 
    overflow: hidden;
    display: flex;
    flex-direction: column;  
  }
  .titresuppCarbonnade{
    width: 100vw;
    height: 40vh;
    
  }
  .h2Premier{
    height: 15vh;
    width: 100vw;
  }
  .description1{
    width: 80vw;
    height: 5vh;
    margin: auto;  
  }
.prix-container1 .prix{
  display: flex;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  height: 25vh; 
  width: 100vw; 
 margin-top: 30px;
 margin-left: 40vw;
}
.option span{
  font-size: 1.2em;
}
.prix p{
  height: 70px;
  width: 70px;
  font-size: 1.3em;
}

  .h2 {
    font-size: 1.2em;
    height: 5vh; 
    width: 100vw;
  }

 
  .h2supp{
    font-size: 1.1em;
    height: 10vh;
    width: 100vw;
    margin-top: -15px;
  }


  .suppléments img {
    height: 45px;
    width: 45px; 
  }
  .suppléments{
    height: 15vh;
    width: 90vw;
    margin-top: -30px;
  }
.suppléments .item{
  height: 65px;
  width: 65px;
}
 
  .optionsupp{
    height: 15vh;
    width: 90vw;
    margin-top: 15px;
    gap: 10px;
    margin-left: 20px;
  }
  .optionsupp span {
    font-size: 1.1em; 
    margin-top: 15px;
  }

  .optionsupp p {
    height: 50px;
    width: 50px;
    font-size: 1em; /* Taille de police pour le prix */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .item img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.3);
}

.label {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0; /* Assurez-vous que le label est centré horizontalement */
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); /* Améliore la visibilité */
    visibility: hidden;
    font-size: 0.9em;
    padding: 2px 0;
}
}


/* FORMAT TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1180px){

  .backTacos, .backTacosbowl, .backAssiette, .backKapsalon{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/backtelephone.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }


  .responsiveTacos,  .responsiveTacosbowl, .responsiveKapsalon, .responsiveAssiette{
    height: 10vh;
    width: 100vw;
   text-align: center;
   display: block;
  
   }
  
   .responsiveTacos img,  .responsiveTacosbowl img, .responsiveKapsalon img, .responsiveAssiette img{
    height: 300px;
    width: 300px;
    display: block;
 }


  .titre1{
    width: 100vw;
    height: 50vh; 
    overflow: hidden; 
  }
  
  .h2Premier{
    height: 10vh;
    width: 100vw;

  }

  .h2Premier h2{
    font-size: 1.9em;
   
  }
  .h2 {
    height: 5vh; 
  }

  .description1 {
    width: 95vw;
    height: 5vh;
    margin: auto;
    margin-left: 35px;
    text-align: center;
  }
  .description1 p {
    font-size: 1.4em;
  }
  .prix-container1 .prix1{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 15vh; 
    width: 100vw; 
    margin-left: 45vw;
    margin-top: 5vh;
  }

  .prix-containerK, .prixK, .prix-containerT, .prixT{
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement */
    height: 15vh; 
    width: 100vw; 
 margin-left: 5vw;
  
   }


  .prix1 p{
    height: 90px;
    width: 90px;
    font-size: 1.9em;
  }
 .prixK p, .prixT p{
  height: 90px;
  width: 90px;
  font-size: 1.9em;
 }

.option span{
    font-size: 1em;
}


.titresupp1{
  width: 100vw;
  height: 50vh;

}

 
  .h2viande{
    font-size: 1.4em;
    height: 5vh;
    width: 100vw;
   margin-top: -2vh;
  }
  .viandes{
    height: 15vh;
    width: 100vw;
    margin-left: -5px;
 
  }
  .viandes .item{
    height: 70px;
    width: 70px;
  }
  .h2supp1{
    font-size: 1.4em;
    height: 5vh;
    width: 100vw;
    margin-top: -2vh;
  }

  .suppléments1 img, .viandes img {
    height: 60px;
    width: 60px; 
  }
  .suppléments1{
    height: 15vh;
    width: 100vw;
   margin-left: -5px;
   margin-top: 2vh;
  
  }

.suppléments1 .item{
  height: 70px;
  width: 70px;
}
  .optionsupp1{
    height: 10vh;
    width: 90vw;

    gap: 5px;
    margin-left: 20px;
  }
  .optionsupp1 span {
    font-size: 1.5em; 
  }
  .optionsupp1 p {
    height:55px;
    width: 55px;
    font-size: 1.3em; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.item:hover img {
    transform: scale(1.3);
}

.label {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 0;
    right: 0; 
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    visibility: hidden;
    font-size: 0.9em;
    padding: 2px 0;
}

/* CARBONNADE */
.backCarbonnade {
  height: 100vh;
  width: 100vw;
  background-image: url(../img/backtelephone.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
}

.responsiveCarbonnade{
  display: block;
height: 25vh;
  width: 100vw;
 text-align: center;

}

.responsiveCarbonnade img {
  height: 300px;
  width: 300px;
  display: block;
}


.titre1 {
  width: 100vw;
  height: 60vh; 
  overflow: hidden;
  display: flex;
  flex-direction: column;  
}

.h2Premier {
  height: 15vh;
  width: 100vw;
  
}

.description1 {
  width: 90vw;
  height: 5vh;
  
}

.description1 p {
  font-size: 1.4em;
}

.prix-container1 , .prix1{
  display: flex;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  height: 20vh;
  width: 100vw;

}

.option span {
  font-size: 1.7em;
}

.prix p {
  height: 90px;
  width: 90px;
  font-size: 1.9em;
}

.h2 {
  font-size: 1.9em;
  height: auto;
  width: 100vw;
  text-align: center;
  margin: 20px 0;
}

.titresuppCarbonnade {
  width: 100vw;
  height: 40vh;
  text-align: center;

}

.h2supp {
  font-size: 1.7em;
  height: 10vh;
  width: 100vw;
  
}

.suppléments {
  height: 15vh;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  margin-top: -30px;
}

.suppléments .item {
  height: 90px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.suppléments img {
  height: 60px;
  width: 60px;
}

.optionsupp {
  height: 15vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
  margin-left: 10vw;
}

.optionsupp span {
  font-size: 1.4em;
}

.optionsupp p {
  height: 60px;
  width: 60px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.item:hover img {
  transform: scale(1.3);
}

.label {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  font-size: 1em;
  padding: 2px 0;
}


}